* {
  font-family: "Roboto", sans-serif; }

body {
  margin: 0; }

input {
  color: #2C3E50;
  font-size: 18px;
  border-bottom: #7997b5 2px solid;
  width: 100%;
  display: block;
  padding-bottom: 5px;
  padding-left: 4px;
  box-sizing: border-box; }

input::-webkit-input-placeholder {
  color: #7997b5; }

input:-ms-input-placeholder {
  color: #7997b5; }

input::-ms-input-placeholder {
  color: #7997b5; }

input::placeholder {
  color: #7997b5; }

input:focus {
  border-bottom: #2C3E50 2px solid; }

.navbar {
  width: 100%;
  height: 60px;
  min-height: 60px;
  background: #2C3E50;
  display: flex;
  justify-content: flex-start;
  position: fixed; }
  .navbar .navbar__sideMenuButton {
    height: 100%;
    width: 60px;
    color: #ECF0F1;
    font-size: 48px;
    display: flex;
    align-items: center; }
    .navbar .navbar__sideMenuButton i {
      padding-left: 8px; }
    .navbar .navbar__sideMenuButton i:hover {
      cursor: pointer; }
  .navbar .navbar__links {
    height: 100%;
    width: 100%;
    line-height: 60px;
    display: flex;
    justify-content: flex-end; }
    .navbar .navbar__links a {
      color: #ECF0F1;
      width: 142px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none; }
      .navbar .navbar__links a .icon {
        font-size: 22px;
        padding-bottom: 5px;
        padding-right: 5px; }
      .navbar .navbar__links a.selected {
        background: rgba(52, 152, 219, 0.3); }

.breadcrumb {
  width: 100%;
  height: 26px;
  line-height: 26px;
  vertical-align: middle;
  background: #3498DB;
  padding-left: 10px;
  box-sizing: border-box;
  margin-top: 60px; }
  .breadcrumb .breadcrumb__link {
    color: #ffffff;
    font-size: 16px;
    margin-right: 10px; }

.sideBar {
  transition: 0.2s;
  background-color: #415B76;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: calc(100vh - 60px);
  left: -300px;
  top: 60px;
  z-index: 20000; }
  .sideBar.active {
    left: 0; }
  .sideBar .sideBar__link {
    text-decoration: none;
    height: 64px;
    display: flex;
    align-items: center;
    color: #ECF0F1;
    background: rgba(44, 62, 80, 0.55);
    border-bottom: 1px rgba(44, 62, 80, 0.7) solid;
    transition: background-color 0.1s ease-in-out; }
    .sideBar .sideBar__link.selected {
      background: rgba(44, 62, 80, 0.85); }
    .sideBar .sideBar__link:hover {
      background-color: #3a526a; }
    .sideBar .sideBar__link i {
      width: 46px;
      font-size: 30px;
      padding-left: 16px; }

.popup {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 25, 32, 0.8);
  position: absolute;
  opacity: 0;
  transition: opacity ease 0.2s;
  visibility: hidden; }
  .popup.--active {
    cursor: pointer;
    visibility: visible;
    opacity: 1.0; }
  .popup .popup__content {
    width: 800px;
    height: 500px;
    background-color: #ECF0F1;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 80px 1fr 80px;
        grid-template-rows: 80px 1fr 80px; }
    .popup .popup__content .popup__header {
      background: #ffffff; }
    .popup .popup__content .popup__footer {
      background: #ffffff; }
