* {
  font-family: "Roboto", sans-serif; }

body {
  margin: 0; }

.navbar {
  width: 100%;
  height: 60px;
  min-height: 60px;
  background: #2C3E50;
  display: flex;
  justify-content: flex-start;
  position: fixed; }
  .navbar .navbar__sideMenuButton {
    height: 100%;
    width: 60px;
    color: #ECF0F1;
    font-size: 48px;
    display: flex;
    align-items: center; }
    .navbar .navbar__sideMenuButton i {
      padding-left: 8px; }
    .navbar .navbar__sideMenuButton i:hover {
      cursor: pointer; }
  .navbar .navbar__links {
    height: 100%;
    width: 100%;
    line-height: 60px;
    display: flex;
    justify-content: flex-end; }
    .navbar .navbar__links a {
      color: #ECF0F1;
      width: 142px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none; }
      .navbar .navbar__links a .icon {
        font-size: 22px;
        padding-bottom: 5px;
        padding-right: 5px; }
      .navbar .navbar__links a.selected {
        background: rgba(52, 152, 219, 0.3); }

.breadcrumb {
  width: 100%;
  height: 26px;
  line-height: 26px;
  vertical-align: middle;
  background: #3498DB;
  padding-left: 10px;
  box-sizing: border-box;
  margin-top: 60px; }
  .breadcrumb .breadcrumb__link {
    color: #ffffff;
    font-size: 16px;
    margin-right: 10px; }

.sideBar {
  transition: 0.2s;
  background-color: #415B76;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: calc(100vh - 60px);
  left: -300px;
  top: 60px;
  z-index: 20000; }
  .sideBar.active {
    left: 0; }
  .sideBar .sideBar__link {
    text-decoration: none;
    height: 64px;
    display: flex;
    align-items: center;
    color: #ECF0F1;
    background: rgba(44, 62, 80, 0.55);
    border-bottom: 1px rgba(44, 62, 80, 0.7) solid;
    transition: background-color 0.1s ease-in-out; }
    .sideBar .sideBar__link.selected {
      background: rgba(44, 62, 80, 0.85); }
    .sideBar .sideBar__link:hover {
      background-color: #3a526a; }
    .sideBar .sideBar__link i {
      width: 46px;
      font-size: 30px;
      padding-left: 16px; }

.popup {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 25, 32, 0.8);
  position: absolute;
  opacity: 0;
  transition: opacity ease 0.2s;
  visibility: hidden; }
  .popup.--active {
    cursor: pointer;
    visibility: visible;
    opacity: 1.0; }
  .popup .popup__content {
    cursor: auto;
    width: 800px;
    height: 500px;
    background-color: #ECF0F1;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 80px 1fr 80px;
        grid-template-rows: 80px 1fr 80px; }
    .popup .popup__content .popup__header {
      background: #ffffff;
      display: flex;
      align-items: center;
      padding: 20px;
      color: #2C3E50; }
    .popup .popup__content .popup__form {
      padding: 20px; }
      .popup .popup__content .popup__form .popup__field {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px; }
        .popup .popup__content .popup__form .popup__field label {
          font-size: 1.1em;
          color: #2C3E50;
          margin-bottom: 3px; }
        .popup .popup__content .popup__form .popup__field input {
          border: 1px solid #2C3E50;
          background: #ffffff;
          height: 30px;
          font-size: 1em;
          padding: 0px 5px 0px 5px; }
        .popup .popup__content .popup__form .popup__field select {
          border: 1px solid #2C3E50;
          background: #ffffff;
          height: 32px;
          font-size: 1em;
          padding: 0px 5px 0px 5px;
          -webkit-appearance: none;
             -moz-appearance: none;
                  appearance: none;
          outline: none; }
        .popup .popup__content .popup__form .popup__field select:required:invalid {
          color: gray; }
        .popup .popup__content .popup__form .popup__field option[value=""][disabled] {
          display: none; }
        .popup .popup__content .popup__form .popup__field option {
          color: #2C3E50; }
    .popup .popup__content .popup__footer {
      background: #ffffff;
      display: flex;
      align-items: center;
      padding: 20px; }
      .popup .popup__content .popup__footer .popup__saveBtn {
        background: #E74C3C;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 26px;
        height: 42px;
        width: 120px;
        margin-right: 10px; }
      .popup .popup__content .popup__footer .popup__cancelBtn {
        background: #2C3E50;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 26px;
        height: 42px;
        width: 120px; }
