@import 'variables';


* {
  font-family: $roboto_font;
}

body{
  margin: 0;
}

input {
  color: $darkBlue_color;
  font-size: 18px;    
  border-bottom: lighten($darkBlue_color, 35%) 2px solid;  
  width: 100%;
  display: block;
  padding-bottom: 5px;
  padding-left: 4px;
  box-sizing: border-box;
}

input::placeholder {
  color: lighten($darkBlue_color, 35%);
}

input:focus {
  border-bottom: $darkBlue_color 2px solid;  
}



.navbar{
  width: 100%;
  height: 60px;
  background: $darkBlue_color;  
  display: flex;  
  justify-content: flex-start;

  .navbar__sideMenuButton {
    height: 100%;            
    width: 60px;
    color: $white_color;
    font-size: 48px;
    display: flex;
    align-items: center;

    i {
      padding-left: 8px;      
    }

    i:hover {
      cursor: pointer;
    }
  }


  .navbar__links {
    height: 100%;            
    width: 100%;
    line-height: 60px;
    display: flex;
    justify-content: flex-end;
        

    a {            
      color: $white_color;
      width: 142px;      
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      .icon {
        font-size: 22px;      
        padding-bottom: 5px;
        padding-right: 5px;
      }

      &.selected {
        background: rgba(52, 152, 219, 0.30)
      }
    }    
  }

}

.breadcrumb {
  width: 100%;
  height: 26px;
  line-height: 26px;
  vertical-align: middle;  
  background: $primary_color;
  padding-left: 10px;
  box-sizing: border-box;
  
  .breadcrumb__link {
    color: #ffffff;
    font-size: 16px;    
    margin-right: 10px;
  }  
}

.sideBar {
  transition: 0.2s;
  background-color: #415B76;      
  position: absolute;
  display: flex;
  flex-direction: column;  
  width: 300px;
  height: calc(100vh - 60px);  
  left: -300px;
  top: 60px;
  z-index: 20000;

  &.active {
    left: 0;
  }

  .sideBar__link {
    text-decoration: none;
    height: 64px;
    display: flex;
    align-items: center;
    color: $white_color;
    background: rgba(44, 62, 80, 0.55);
    border-bottom: 1px rgba(44, 62, 80, 0.70) solid;    
    transition: background-color 0.1s ease-in-out;

    &.selected {
      background: rgba(44, 62, 80, 0.85);
    }

    &:hover {
      background-color: lighten($darkBlue_color, 8%);        
    }

    i {
      width: 46px;
      font-size: 30px;
      padding-left: 16px;      
    }
  }
}
