@import 'variables';


* {
  font-family: $roboto_font;
}

body{
  margin: 0;
}

input {
  color: $darkBlue_color;
  font-size: 18px;    
  border-bottom: lighten($darkBlue_color, 35%) 2px solid;  
  width: 100%;
  display: block;
  padding-bottom: 5px;
  padding-left: 4px;
  box-sizing: border-box;
}

input::placeholder {
  color: lighten($darkBlue_color, 35%);
}

input:focus {
  border-bottom: $darkBlue_color 2px solid;  
}


.navbar{
  width: 100%;
  height: 64px;
  background: $darkBlue_color;  
  display: flex;  
  justify-content: flex-start;

  .navbar__sideMenuButton {
    height: 100%;            
    width: 60px;
    color: $white_color;
    font-size: 48px;

    i {
      padding-left: 8px;
      vertical-align: middle;
    }

    i:hover {
      cursor: pointer;
    }
  }


  .navbar__links {
    height: 100%;            
    width: 100%;
    line-height: 64px;
    display: flex;
    justify-content: flex-end;
        

    a {            
      color: $white_color;
      width: 142px;      
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      .icon {
        font-size: 22px;      
        padding-bottom: 5px;
        padding-right: 5px;
      }

      &.selected {
        background: rgba(52, 152, 219, 0.30)
      }
    }    
  }

}

.breadcrumb {
  width: 100%;
  height: 26px;
  line-height: 26px;
  vertical-align: middle;
  padding-left: 10px;
  background: $primary_color;
  
  .breadcrumb__link {
    color: $white_color;
    font-size: 16px;    
    margin-right: 10px;
  }  
}
