@import 'variables';

body {
  background: $white_color;
}



.dashboardBoxWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;


  .dashboardBox {
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $darkBlue_color;
    background: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
    
    .dashboardBox__title {
      font-size: 26px;
    }

    .dashboardBox__value {
      font-size: 56px;
      margin-top: 32px;
    }
  }
}


.graphBoxWrapper {      
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 560px;
  background: #ffffff;          
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);     
  

  .graphBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-bottom: 16px;

    .graphBox__title {
      color: $darkBlue_color;
    }

    .graphBox__chart{
      position: relative;
      width: 48%;
    }        
  }
}