@import 'variables';


html, body {
  margin: 0;
  height: 100%;
  font-family: $roboto_font;
}

input {
  color: $darkBlue_color;
  font-size: 18px;    
  border-bottom: lighten($darkBlue_color, 35%) 2px solid;  
  width: 100%;
  display: block;
  padding-bottom: 5px;
  padding-left: 4px;
  box-sizing: border-box;
}

input::placeholder {
  color: lighten($darkBlue_color, 35%);
}

input:focus {
  border-bottom: $darkBlue_color 2px solid;  
}

body {
  background: radial-gradient(at bottom left, lighten($primary_color, 30%), $primary_color);
  display: flex;
  justify-content: center;
  align-items: center;
}


.loginContainer {
  height: 549px;
  min-width: 400px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-box-shadow: 0px 28px 80px 4px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 28px 80px 4px rgba(0,0,0,0.25);
  box-shadow: 0px 28px 80px 4px rgba(0,0,0,0.25);
}

.loginContainer__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $darkBlue_color;
  width: 100%;

  padding-top: 70px;
  padding-bottom: 70px;
  color: $white_color;

  h1{
    font-size: 44px;
  }
}


.loginContainer__form {
  width: 282px;
  margin-top: 20px;

  input {
    margin-top: 30px;
  }

  margin-bottom: 130px;
}

.loginContainer__loginButton {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 282px;
  height: 38px;
  text-decoration: none;
  color: $white_color;
  background-color: $accent_color;  
  border-radius: 100px;
}
